<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdonisJS - Code Input</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

  @vite(['resources/css/index.css', 'resources/js/LocalToBDD.js'])

</head>

<body>
  <section>
    <h1>Share-Code</h1>
    <form method="post" action="{{route("code.store")}}">
      {{csrfField()}}
      <input type="hidden" id="url" name="url" value="{{id}}">
      <textarea id="code" name="code" placeholder="Votre code........."></textarea>
      <button type="submit">ENVOYER</button>
    </form>
    <div id="group">
      <div id="languageDetected"></div>
      <button id="nightModeToggle">Mode Nuit</button>
      <button id="copyUrlButton">Copie URL</button>
    </div>
    <div id="urlList">
      <!-- Les URLs seront ajoutées ici dynamiquement -->
    </div>

</body>

</html>